<div>
    <div class="row">

        <div class="col-md-3 border">
            <div class="row">

                <div *ngFor="let pedidosa of PedidosAtendido" class="col-md-12">
                    <br>
                    <label> Comandante: {{pedidosca.fk_comanda_comandante}}</label>
                    <br>
                    <label> Fecha : {{pedidosa.dia}}/{{pedidosa.mes}}/2019 </label>
                    <br>
                    <label> Estado: {{pedidosa.estado_pedido}}</label>
                    <br>
                    <label> total a pagar: {{pedidosa.total_pedido}}</label>
                    <br>
                    <a [routerLink]="['/detallepedido',pedidosa.id_pedido]">detalles</a>
                    <br>
                    <br>
                </div>

            </div>
        </div>

        <div class="col-md-9  border">
            <div class="row">
                <div *ngFor="let pedidosc of PedidosCola" class="col-md-4">
                    <br>
                    <label> Comandante: {{pedidosc.fk_comanda_comandante}}</label>
                    <br>
                    <label> Fecha : {{pedidosc.dia}}/{{pedidosc.mes}}/2019 </label>
                    <br>
                    <label> Estado: {{pedidosc.estado_pedido}}</label>
                    <br>
                    <label> total a pagar: {{pedidosc.total_pedido}}</label>
                    <br>
                    <a [routerLink]="['/detallepedido',pedidosc.id_pedido]">detalles</a>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>