<div class="container">
    <div class="row">

        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Datos del Producto</h4>

            <form onsubmit="this.reset()" class="form">
                <div class="row">

                    <div class="col-md-6 mb-3 form-group">
                        <label for="nombreproducto">Nombre del Producto</label>
                        <input (keyup)="Validar()" [(ngModel)]="producto.nombre_producto" type="text" class="form-control"
                            name="nombreproducto" placeholder="Ejemplo: Acetaminofen" value="" required="">
                    </div>
                    <div class="col-md-6 mb-3 form-group">
                        <label for="precioproducto">Precio Unitario $</label>
                        <input (keyup)="Validar()" [(ngModel)]="producto.precio_kilo" type="text" class="form-control"
                            name="precioproducto" placeholder="Ejemplo: 2000" value="" required="">
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6 mb-3 form-group">
                        <label for="cantidad">Cantidad</label>
                        <input [(ngModel)]="producto.cantidad" type="text" class="form-control" name="cantidad"
                            placeholder=". . ." required="">
                    </div>

                </div>
                <hr class="mb-3">

                <button [disabled]="lleno" (click)="CrearProductos()" class="btn btn-primary btn-lg btn-block"
                    type="submit">Guardar
                    Producto
                </button>
            </form>
        </div>
    </div>
</div>