<div class="row">

  <div class="col-md-3 form-group">
    <label class="Display-5 text-center">Buscar</label>
    <input [(ngModel)]="porNombre.valor1" class="form-control mr-sm-2" type="search" placeholder="" name="una">
  </div>

  <div class="col-md-3" *ngIf="Tipocliente == 'cliente'">
    <label class="Display-5 text-center"> Activar Pedido</label>
    <div class="onoffswitch">
      <input #activo type="checkbox" (click)="CerrarPedido(activo.checked)" name="onoffswitch"
        class="onoffswitch-checkbox" id="myonoffswitch">
      <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
  </div>

</div>

<hr>

<div class="row">

  <div class="col-md-3 border" *ngIf="Tipocliente == 'cliente'">
    
    <div *ngFor="let productospedidos of ProductosPedido; index as i" class="col-md-12">
      <label for="">Producto: {{productospedidos.nombre_producto}}</label>
      <br>
      <label for="">cantidad: {{productospedidos.cantidad}}</label>
      <br>
      <span (click)="EliminarProductoPedido(i)"><i class="fas fa-trash-alt"
          style="font-size:30px; cursor: pointer"></i></span>
      <hr>
    </div>

  </div>


  <div class="col-md-9" [ngClass]="{'col-md-12': Tipocliente == 'gerente'}">

    <div class="row">

      <mat-card (mouseover)="Pedido(Productos.id_producto)" (mouseout)="Pedido(Productos.id_producto)"
        *ngFor="let Productos of productos |search:porNombre.valor1" class="col-md-3" data-toggle="modal"
        data-target="#ventanaproducto" style="cursor: pointer">

        <img data-toggle="modal"
          data-target="#ventanaproducto" style="cursor: pointer" src="/src/assets/defecto.png" width="100%"
          class="">
        <br>
        <dt style="color: black">{{Productos.nombre_producto}}</dt>
        <dd style="color:blueviolet">{{Productos.precio_kilo}}$</dd>
        <dd *ngIf="Tipocliente == 'gerente'" style="color: black">stock: {{Productos.cantidad}}</dd>
      
      </mat-card>

    </div>

  </div>

</div>


<div *ngIf="pedidoactivo" class=" modal fade " id="ventanaproducto" tabindex="-1" role="dialog"
  aria-labelledby="tituloventana" aria-hidden="true">

  <div class="modal-dialog border border-info" role="document">

    <div class="modal-content container">

      <div class="modal-header">

        <h1 id="tituloventana">Añadir al carrito</h1>
        <button class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body" *ngIf="producto">

        <div class="alert alert-success text-center">
          {{producto.nombre_producto}}
        </div>
        <!--
          <div class="row justify-content-center">
            <br>
            <img src="{{producto.imagen}}" width="200" height="200" class="mx-auto d-block">
            <br>
          </div>-->
        <br>
        <div class="container">
          <div class="row border">
            <div class="col-md-3">
              <button mat-icon-button color="primary" (click)="SelectCantidad(-1)">
                <mat-icon aria-label="Example icon-button with a heart icon">remove_shopping_cart</mat-icon>
              </button>
            </div>
            <div class="col-md-6">
              <input style="text-align: center;" type="number" #cantidad [(ngModel)]="Cantidad" name="cantidad">
            </div>
            <div class="col-md-3">
              <button mat-icon-button color="primary" (click)="SelectCantidad(1)">
                <mat-icon aria-label="Example icon-button with a heart icon">add_shopping_cart</mat-icon>
              </button>
            </div>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">
          Cerrar
        </button>
        <button class="btn btn-warning" (click)="Validarpedido()" type="button" data-dismiss="modal">
          Agregar
        </button>
      </div>

    </div>

  </div>
</div>

<hr>