
<form class="form-inline my-2 my-lg-0">
    <a href="" (click)="CerrarSesion()" class="btn btn-outline-primary my-2 my-sm-0" style="background-color: aquamarine"
        type="submit">Sign Up</a>
</form>
<br>
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/clientes']">Clientes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/pedidos']">Pedidos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/facturas']">Facturas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/productos']">Productos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/mostrarusuarios']">Usuarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/createclientes']">Crear Clientes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/insertarproductos']">Insertar Productos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/crearusuarios']">Crear Usuarios</a>
    </li>
</ul>