<div class="row">
  <div class="col-md-6">
    <input [(ngModel)]="buscador" type="text">
  </div>
</div>

<div class="row">
  <mat-card *ngFor="let cliente of clientes | clienteFiltro : buscador" class="col-md-3">
    <img style="cursor: pointer" src="/src/assets/usuario.jpg"
      width="100%" class="">
      <br>
    <dt style="color: black">{{cliente.primer_nombre_comandante}} {{cliente.primer_apellido_comandante}}</dt>
    <dd style="color: black">Identificacion: {{cliente.cedula}}</dd>
    <a class="text-danger" [routerLink]="['/updateClient',cliente.cedula]">Actalizar</a>
  </mat-card>
</div>