<div class="row">
  <div class="col-md-6">
    <input [(ngModel)]="buscador" type="text">
  </div>
</div>

<div class="row">
  <div *ngFor="let cliente of clientes | clienteFiltro : buscador" class="col-md-3">
    <br>
    <label>Nombre: {{cliente.nombre}}</label>
    <br>
    <label>Identificacion: {{cliente.identificacion}}</label>
    <br>
    <div *ngIf="cliente.estado"> <label>Estado: Habilitado</label> </div>
    <div *ngIf="!cliente.estado"> <label>Estado: desabilitado</label> </div>
    <br>
    <a class="text-danger" [routerLink]="['/updateClient',cliente.idCliente]">Actalizar</a>
    <br>
    <br>
  </div>
</div>